<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find multiple_turtlebots_nav)/turtlebot3_description/urdf/turtlebot3_$(arg model).urdf.xacro" />  
   <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find multiple_turtlebots_nav)/worlds/map.yaml">
    <param name="frame_id" value="map" />
  </node>
  <arg name="set_map_frame"  default="map"/> 
<!-- BEGIN robot1-->
  <arg name="robot1_prefix" value="robot1"/> 
  <group ns="$(arg robot1_prefix)">
    <param name="tf_prefix" value="$(arg robot1_prefix)" />
    <include file="$(find multiple_turtlebots_nav)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0.6363961030678926 -y 0.21213203435596423 -z 0 -Y 0.0" />
      <arg name="robot_name"  value="robot1" />
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg robot1_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg robot1_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg robot1_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="initial_pose_x" default="0.6363961030678926"/>
      <arg name="initial_pose_y" default="0.21213203435596423"/>
      <arg name="initial_pose_a" default="0"/>   
    </include>
  </group>
<!-- BEGIN robot2-->
  <arg name="robot2_prefix" value="robot2"/> 
  <group ns="$(arg robot2_prefix)">
    <param name="tf_prefix" value="$(arg robot2_prefix)" />
    <include file="$(find multiple_turtlebots_nav)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1.4849242404917495 -y 0.21213203435596423 -z 0 -Y 3.141592653589793" />
      <arg name="robot_name"  value="robot2" />
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg robot2_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg robot2_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg robot2_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="initial_pose_x" default="1.4849242404917495"/>
      <arg name="initial_pose_y" default="0.21213203435596423"/>
      <arg name="initial_pose_a" default="0"/>   
    </include>
  </group>
</launch>